h1 {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-size: 40px;
  color: white;
  text-decoration: underline;
}
.img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pizza-baked-chesse-spicy-7t-1920x1080.jpg");
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}
.logo {
float: left;
padding-top: 0%;
}
