h1 {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-size: 45px;
  color: white;
  font-style: italic;
}
.img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pizza-baked-chesse-spicy-7t-1920x1080.jpg");
  height: 70vh;
  background-position: center;
  background-attachment: fixed;
}
.logo {
  float: left;
  padding-top: 0%;
}
.p1 {
  font-size: 25px;
  color: white;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding-top: 3%;
}
h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
}

#SizeOfPizza{
    width:70%;
}
.row {
    text-align: center;
    padding-top: 1%;
}
h4 {
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
}